@import "../Variables/Variables.scss";
.navbar{
   @include navStyle();
a{

    text-decoration: none;
    color: $textColour;
    margin: 10px;
    font-family: $textFont;
}


}
.bg{
    @include navStyle();
}

   
